In [1]:
# Import the dependencies.

import pandas as pd

import gmaps

import requests

# Import the API key.

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")

city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Punta Arenas,20,CL,2022-08-08 03:39:38,87,-53.1500,-70.9167,35.71,12.66
1,1,Bredasdorp,100,ZA,2022-08-08 03:44:36,88,-34.5322,20.0403,57.29,2.98
2,2,Butaritari,92,KI,2022-08-08 03:44:36,75,3.0707,172.7902,81.70,12.15
3,3,Chuy,6,UY,2022-08-08 03:44:37,88,-33.6971,-53.4616,47.16,7.23
4,4,Hilo,40,US,2022-08-08 03:44:37,77,19.7297,-155.0900,84.27,5.75

In [3]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

temps = []

for temp in max_temp:
    
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature

# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness

locations = city_data_df[["Lat", "Lng"]]
 
clouds = city_data_df["Cloudiness"] 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed

locations = city_data_df[["Lat", "Lng"]]
 
wind = city_data_df["Wind Speed"] 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
2,2,Butaritari,92,KI,2022-08-08 03:44:36,75,3.0707,172.7902,81.70,12.15
4,4,Hilo,40,US,2022-08-08 03:44:37,77,19.7297,-155.0900,84.27,5.75
8,8,Hinundayan,81,PH,2022-08-08 03:44:38,70,10.3523,125.2506,84.33,5.84
9,9,Wahiawa,0,US,2022-08-08 03:44:38,62,21.5028,-158.0236,82.15,11.50
10,10,Jamestown,0,US,2022-08-08 03:44:39,65,42.0970,-79.2353,78.39,8.05
16,16,Atuona,16,PF,2022-08-08 03:44:41,75,-9.8000,-139.0333,76.86,15.64
17,17,Port Hedland,40,AU,2022-08-08 03:44:41,16,-20.3167,118.5667,80.65,9.22
21,21,Broome,0,US,2022-08-08 03:44:42,86,42.2506,-75.8330,77.38,6.91
24,24,Sovetskiy,21,RU,2022-08-08 03:44:43,47,61.3614,63.5842,78.10,4.45
31,31,Balkhash,0,KZ,2022-08-08 03:44:45,25,46.8440,74.9804,79.41,11.18

In [11]:
preferred_cities_df.count()

City_ID       199
City          199
Cloudiness    199
Country       199
Date          199
Humidity      199
Lat           199
Lng           199
Max Temp      199
Wind Speed    199
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2     Butaritari      KI     81.70   3.0707  172.7902
4           Hilo      US     84.27  19.7297 -155.0900
8     Hinundayan      PH     84.33  10.3523  125.2506
9        Wahiawa      US     82.15  21.5028 -158.0236
10     Jamestown      US     78.39  42.0970  -79.2353
16        Atuona      PF     76.86  -9.8000 -139.0333
17  Port Hedland      AU     80.65 -20.3167  118.5667
21        Broome      US     77.38  42.2506  -75.8330
24     Sovetskiy      RU     78.10  61.3614   63.5842
31      Balkhash      KZ     79.41  46.8440   74.9804

In [13]:
# Set parameters to search for a hotel.

params = {
    
    "radius": 5000,
    
    "type": "lodging",
    
    "key": g_key

}

# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    
    lat = row["Lat"]
    
    lng = row["Lng"]

    
    # Add the latitude and longitude to location key for the params dictionary.
    
    params["location"] = f"{lat},{lng}"

    
    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
    try: 
        
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError): 
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Butaritari,KI,81.70,3.0707,172.7902,Isles Sunset Lodge
4,Hilo,US,84.27,19.7297,-155.0900,Hilo Hawaiian Hotel
8,Hinundayan,PH,84.33,10.3523,125.2506,Pantalan's lodge
9,Wahiawa,US,82.15,21.5028,-158.0236,The Inn At Schofield
10,Jamestown,US,78.39,42.0970,-79.2353,Hampton Inn & Suites Jamestown
16,Atuona,PF,76.86,-9.8000,-139.0333,Villa Enata
17,Port Hedland,AU,80.65,-20.3167,118.5667,The Esplanade Hotel
21,Broome,US,77.38,42.2506,-75.8330,Chenango Valley State Park
24,Sovetskiy,RU,78.10,61.3614,63.5842,Apartment on Kievskaya 29
31,Balkhash,KZ,79.41,46.8440,74.9804,Family

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             
                                 dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """

<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>

"""

In [18]:
# Store the DataFrame Row.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             
                                 max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))